:root {
  /* black theme colors */
  --background-color: #141a32;
  --accent-color: #3e65fb;
  --base-text-color: #d2d2d7;
  --secondary-accent-color: #809cf5;
  --secondary-text-color: #5a6583;

  /* fonts */
  --main-font: 'Inter', sans-serif;
  --secondary-font: 'Coolvetica', sans-serif;

  /* text */
  --main-text-color: var(--base-text-color);
  --message-text-color: var(--background-color);
  --time-text-color: var(--secondary-text-color);

  /* backgroung */
  --main-background-color: var(--background-color);
  --message-in-background: #ff660d;
  --message-out-background: var(--accent-color);

  /* old colors */
  --line-color: var(--secondary-text-color);
}
